body {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.container {
  display: grid;
  grid-template-columns: 40px 40px auto 40px 40px;
  grid-template-rows: 200px auto;
  grid-template-areas
}
.movie-search-container {

}